<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/umlparser/src/umlparser/umlparser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="umlparser.umlparser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\shali\Desktop\usecases\usecase5 C:\Users\shali\Desktop\usecase5.png"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="umlparser"/>
</launchConfiguration>
